<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="https://twitter.com/nyanko_discord" class="nav-link px-2 text-muted">Twitter</a>
    </li>
    <li class="nav-item"><a href="https://www.youtube.com/channel/UCbWPdmkc5G7vuqlHTiybMtw" class="nav-link px-2 text-muted">YouTube</a>
    </li>
  </ul>
  <p class="text-center text-muted">&copy; 2020 にゃんこ大戦争 Discordサーバー</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
