<%- include('includes/header', { title: '404 Not Found' }) %>

  <div class="top px-4 my-5 text-center">
    <h1 class="display-5 fw-bold">404 Not Found</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        ページが見つかりません。
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/join" class="btn btn-primary btn-lg px-4 gap-3"><i class="fab fa-discord"></i>&nbsp;参加する</a>
        <a href="/" class="btn btn-secondary btn-lg px-4">トップへ戻る</a>
      </div>
    </div>
  </div>

  <%- include('includes/footer') %>