<%- include('includes/header', { title: 'にゃんこ大戦争 Discordサーバー - にゃんこ大戦争のファンコミュニティ' }) %>

  <div class="top px-4 my-5 text-center">
    <img class="top-server-icon d-block mx-auto mb-4" src="/img/icon.webp" width="170" height="170">
    <h1 class="display-5 fw-bold">にゃんこ大戦争 Discordサーバー</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        1,000人以上が参加する、にゃんこ大戦争の日本最大Discordファンコミュニティ。<br />
        初心者からアプデ待ち勢まで、様々なメンバーが参加しています！
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/join" class="btn btn-primary btn-lg px-4 gap-3"><i
            class="fab fa-discord"></i>&nbsp;参加する</a>
        <a href="#feature" class="btn btn-outline-secondary btn-lg px-4">特徴を見る</a>
      </div>
    </div>
  </div>

  <section id="feature">
    <div class="container px-4 py-5">
      <div class="feature-row row g-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fas fa-bell"></i>
          </div>
          <h2>イベント通知</h2>
          <p>
            超極ゲリラ経験値、悪魔ステージなどのイベントをBotがお知らせします。<br />
            これでもうイベントを逃しません！
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fas fa-trophy"></i>
          </div>
          <h2>道場ランキング</h2>
          <p>
            にゃんこ道場のスコアランキングを開催しています。<br />
            メンバー同士でハイスコアを競い合いましょう！
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fas fa-hashtag"></i>
          </div>
          <h2>使いやすいチャンネル</h2>
          <p>
            攻略相談ができるチャンネルや、進捗報告ができるチャンネルなどを用意しているため、<br />
            ストレスフリーにサーバーを利用できます。
          </p>
        </div>
      </div>
      <div class="feature-row row g-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fas fa-flag"></i>
          </div>
          <h2>進捗状況ロール</h2>
          <p>
            進捗状況ロールにより、ユーザー名の右にアイコンが付き、<br />
            アドバイスがしやすい/受けやすい環境なっています！
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fab fa-twitter"></i>
          </div>
          <h2>にゃんこニュース</h2>
          <p>
            にゃんこ大戦争ついったー担当や、にゃんこ大戦争のYouTubeチャンネルの更新を<br />
            お知らせします！
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <i class="fas fa-user-friends"></i>
          </div>
          <h2>フレンドリーな運営体制</h2>
          <p>
            メンバーの要望や提案などをなるべく受け入れるようにしています。<br />
            また、運営と1対1でのお問い合わせも可能です！
          </p>
        </div>
      </div>
    </div>
  </section>

  <%- include('includes/footer') %>
