<%- include('includes/header', { title: `${title} - にゃんこ大戦争 Discordサーバー` }) %>

  <link href="/css/md.css" rel="stylesheet">

  <div class="container">
    <div class="col-lg-8 mx-auto" style="margin-top: 100px;">
      <%- md %>
    </div>
  </div>

  <%- include('includes/footer') %>