<%- include('includes/header', { title: `${title} - にゃんこ大戦争 Discordサーバー` }) %>

  <link href="/css/md.css" rel="stylesheet">

  <div class="col-lg-6 mx-auto" style="margin-top: 100px;">
    <%- md %>
  </div>

  <%- include('includes/footer') %>