h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.85em;
  color: #777;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 16px;
}
p {
  margin: 0 0 10px;
}
blockquote {
  font-size: 16px;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  margin: 0 0 20px;
}
ul,
ol {
  padding-left: 2em;
}
dl {
  padding: 0;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
pre {
  border: inherit !important;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #0000000a;
  border-radius: 3px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-spacing: 0;
  border-collapse: collapse;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table th {
  font-weight: bold;
  text-align: center;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
